	

	<!--<footer class = "footer bg-dark navbar-dark" style = "postion:absolute;bottom:0;color:white;left:0">-->
	<footer class = "footer">
	    <center>
			<strong>TradeMark 2018.Made by <i class="fab fa-dyalog"></i><i class="fab fa-stripe-s"></i></strong>
		</center>
	</footer>
</body>
</html>