<!DOCTYPE html5>
<html>
	<head>
		<title>Page Not Found!!</title>
		<link rel="shortcut icon" type="image/png" href="/stylesheets/logo.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<style>
			body{
				background: #000428; /* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #000428, #004e92);
				background: linear-gradient(to right, #000428, #004e92);
			}
		</style>
	</head>
	<body>
		<div class = "container d-flex justify-content-center" style = "margin-top : 10%">
			<div class="jumbotron">
				<center>
					<h1 class="display-4">404</h1>
					<p class="lead">Page Not Found</p>
					<hr class="my-4">
					<p>The page you are trying to find no longer exists or has it's name changed.</p>
					<a class="btn btn-primary btn-lg" href="/" role="button">Go Back to home page!!</a>
				</center>
			</div>
		</div>
	</body>
</html>